################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TennisGameKata/bin/Debug
/TennisGameKata/obj/Debug
